/* Colors */
$main-quest-gold: rgb(202, 189, 112);
$side-quest-blue: rgb(57, 158, 171);
$npcs-orange: rgb(255, 173, 51);
$locations-green: rgb(76, 175, 80);
$magic-items-purple: rgb(174, 158, 202);
$pcs-inventory-cyan: rgb(57, 158, 171);

/* Fonts */
$fira-sans: 'Fira Sans', sans-serif;
$cinzel-serif: 'Cinzel', serif;