.tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 6px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    top: 56px;
    left: -100px;
    width: 200px;
}